services:
  postgres:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: gigabg
      POSTGRES_PASSWORD: gigabg
      POSTGRES_DB: gigabg
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
